.channels-component {
  width: var(--nou-window-width);
  height: var(--nou-window-height);

}
.channels-component__header {
  display: flex;
  padding: 10px;
  width: calc(100% - 20px);
  height: var(--nou-window-header-height);
  background-color: var(--light-gray);
  justify-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.channels-component__add-channel-button {
  border-radius: 100%;
}
.channel-list {
  display: flex;
  overflow-y: auto;
  height: var(--nou-window-body-height);
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.channel-list__channel {
  width: 100%;
  height: 50px;
  text-indent: 4ch;
}
.channel-list__channel:hover {
  background-color: rgba(255, 255, 255, 0.096);
  cursor:pointer;
}
.channel-list__channel__name {
  color: #646cff;
}
.channel-list__channel__name:hover {
  cursor: inherit;
}
.channel-list__channel:hover .channel-list__channel__name {
  text-decoration: underline;
}
.channel-list__channel__name::first-letter {
  text-transform: uppercase;
  line-height: 2em;
}
.channel-list__channel__last-message:hover {
  cursor: inherit;
}
.channel-list__channel__last-message {
  color: gray;
  text-indent: 8ch;
  font-size: 10pt;
}
