.channel-list {
    display: flex;
    height: 100vh;
    overflow-y: auto;
    width: 400px;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
}
.channel-list__channel {

}