:root {
    --from-message-height: 70px;
}
.channel {
    display: flex;
    width: var(--nou-window-width);
    height: var(--nou-window-height);
    flex-direction: column;
}
.channel-form-message {
    --padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: calc(100% - 50px) 50px;
    grid-template-rows: calc(var(--from-message-height) - 2*var(--padding));
    background-color: var(--light-gray);
    border-radius: 0 0 10px 10px;
    padding: var(--padding);
}
.channel .chat-container {
    height: calc(var(--nou-window-body-height) - var(--from-message-height));
    border-radius: 0;
}
.channel-form-message__send-button {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0 10px 0 10px;
    background-color: var(--dark);
    justify-content: center;
    align-items: center;
}

.channel-form-message__input-message {
    width: calc(100% - 20px);
    border: 0;
    padding: 0;
    font-size: 10pt;
    justify-self: center;
    align-self: center;
}

.channel__header {
    display: grid;
    width: 100%;
    grid-template-columns: 50px calc(100% - 100px) 50px;
    background: var(--light-gray);
    border-radius: 10px 10px 0 0;
}
.channel__header__close-channel { /* button '<' */
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 10px 10px 10px 0;
    transition: background 0.2s;
    color: white;
}
.channel__header__close-channel:hover { /* button '<' */
    font-weight: 500;
    cursor: pointer;
    background-color: color-mix(in srgb, black 20%, transparent 80%);
    color: white;
    text-decoration: none;
}
.channel__header__channel-name {
    justify-self: center;
    align-self: center;
    font-weight: 500;
    font-size: 13pt;
}
.channel__header__channel-name::first-letter {
    text-transform: uppercase;
}
.channel__header .bi {
  justify-self: center;
  align-self: center;
  cursor: pointer;
}