
.chat-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
    margin: 5% 0;
    background-color: var(--light);
    border-radius: 10px;
    align-items: flex-end;
}

.chat {
    flex-direction: column;
    width: 100%;
    max-height: 100%;
}
